<tr>
    <th class="relay_title" scope="row">{{relay.name}}</th>
</tr>
<tr>
    <th scope="row">
        <div class="relay_status" id="status_{{relay.code}}">
            {{relay.status_frontend}}
        </div>
    </th>
    <td>
        <form method="POST" action="" id="onOff_{{relay.code}}">
            <button
                type="submit" 
                class="btn_override" 
                id="btn_onOff_{{relay.code}}" 
                name="relayOverride_{{relay.code}}"
                style="display: none;">
                Toggle Relay
            </button>
        </form>
        <div class="riddle_solution" id="solution_{{relay.code}}">
            {{relay.answer}}
        </div>
        <div class="riddle_input" id="input_{{relay.code}}">
            Loading...
        </div>
    </td>
    <td>
        <form method="POST" action="" id="form_{{relay.code}}">
            <button 
                type="submit" 
                class="btn_override" 
                id="btn_{{relay.code}}"
                name="relayOverride_{{relay.code}}"
            >Override</button>
        </form>
    </td>

    <!-- Handle override press-->
    <script>
        postload_styling('{{relay.code}}', '{{relay.last_message}}', '{{relay.riddle_status}}')
        
        $("#form_{{relay.code}},#onOff_{{relay.code}}").submit(function (e) {
            //prevent submit
            e.preventDefault();
            var Id = this.id;
            //do things on submit
            $.ajax({
                data: "relayOverride_{{relay.code}}",
                type: "POST",
                beforeSend: function () {
                    //before send data
                    console.log("pressed by {{Id}}");
                    if (Id == "form_{{relay.code}}") {
                        return confirm("Are you sure you want to override?");
                    }
                },
                success: function () {
                    // the data
                    console.log("post {{relay.code}} override successfully");
                    if (Id == "form_{{relay.code}}") {
                        relay_override_style("{{relay.code}}")
                    }
                    let status = document.getElementById("status_{{relay.code}}");
                    if (status) {
                        status.style.color = "black";
                        status.style.backgroundColor = "#e6c846";
                        setTimeout(function () {
                            status.style.color = "gray"
                            status.style.backgroundColor = "black"
                        }, 1000);
                    }

                }
            });
        });
    </script>
</tr>